[Unit]
Description=Christmas Light Control Service 

[Service]
User=pi
WorkingDirectory=/home/pi/GpuPrices
ExecStart=/bin/sh -c "pipenv run start"

[Install]
WantedBy=multi-user.target
